<meta name="viewport" content="width=device-width, initial-scale=1">

<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <h2>Videos</h2>
          </div>
          <div class="col-6">
            <p>Browse all videos</p>
          </div>
        </div>
      </div>
      <app-videos></app-videos>
    </div>
    <div class="col-4">
      <div class="row">
        <div class="col-6">
          <h2>Activity</h2>
        </div>
        <div class="col-6">
          <small>View timeline/Filter activities</small>
        </div>
      </div>
      <app-activity2></app-activity2>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <h2>People</h2>
          </div>
          <div class="col-6">
            <p>View all</p>
          </div>
        </div>
      </div>
      <app-people></app-people>
    </div>
    <div class="col-4">
      <div class="row">
        <div class="col-6">
          <h2>Channels</h2>
        </div>
        <div class="col-6">
          <small>Browse all channels</small>
        </div>
      </div>
      <app-channels></app-channels>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <h2>Documents</h2>
          </div>
          <div class="col-6">
            <p>Browse all documents</p>
          </div>
        </div>
      </div>
      <app-documents></app-documents>
    </div>
  </div>
</div>
<app-socmed></app-socmed>


<app-events></app-events>

