<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container-fluid mt-2">
  <hr />
  <div class="row">
    <div class="col-3">
      <div class="row">
        <div class="card">
          <div class="card-content">
            <a href="#" class="fa fa-twitter"></a>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <a href="#" class="fa fa-linkedin"></a>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <a href="#" class="fa fa-facebook"></a>
          </div>
        </div>
      </div>

    </div>
  </div>
  <br />
  <div class="row">
    <a class="navbar-brand" href="#"> About </a>
    <a class="navbar-brand" href="#"> For Business </a>
    <a class="navbar-brand" href="#"> Suggestions </a>
    <a class="navbar-brand" href="#"> Help & FAQ </a>
    <a class="navbar-brand" href="#"> Contacts </a>
    <a class="navbar-brand" href="#"> Pricing </a>
  </div>
  <br/>
  <div class="row">
    <p class="navbar-brand">
      &copy; Copyright 2013 companyname inc
    </p>
  </div>
  <div class="row">
    <a class="navbar-brand" href="#"> Privacy </a>
    <a class="navbar-brand" href="#"> Terms </a>
  </div>
</div>
