<div class="container">
  <div class="one">
    <mat-card class="example-card">
      <mat-card-title-group>
        <mat-card-title></mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <img mat-card-xl-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
      </mat-card-title-group>
      <mat-card-content>
        How to improve your skills
        <div class="row">
          <div class="col-6">
            <small>Waseem Arshad</small>
          </div>
          <div class="col-6">
            <small>154,340 views</small>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="two">
    <mat-card class="example-card">
      <mat-card-title-group>
        <mat-card-title></mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
      </mat-card-title-group>
      <mat-card-content>
        <div class="row">
          <div class="col-6">
            John Stainior
          </div>
          <div class="col-6">
            25930 views
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="three">
    <mat-card class="example-card">
      <mat-card-title-group>
        <mat-card-title></mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
      </mat-card-title-group>
      <mat-card-content>
        <div class="row">
          <div class="col-6">
            John Doe
          </div>
          <div class="col-6">
            25930 views
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="four">
    <mat-card class="example-card">
      <mat-card-title-group>
        <mat-card-title></mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
      </mat-card-title-group>
      <mat-card-content>
        <div class="row">
          <div class="col-6">
            Michael Kaliph
          </div>
          <div class="col-6">
            25930 views
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="five">
    <mat-card class="example-card">
      <mat-card-title-group>
        <mat-card-title></mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
      </mat-card-title-group>
      <mat-card-content>
        <div class="row">
          <div class="col-6">
            Ahmed Yasin
          </div>
          <div class="col-6">
            25930 views
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="six">
    <mat-card class="example-card">
      <mat-card-title-group>
        <mat-card-title></mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>

      </mat-card-title-group>
      <mat-card-content>
        <div class="row">
          <div class="col-12">
            <span class="material-icons">arrow_circle_up</span>
            <br/>
            Upload your own video
          </div>

        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
